* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #555;
}

/*
header
*/
header {
background-image:
  url(https://scontent.xx.fbcdn.net/t31.0-8/11021355_898653110155763_923150969851337795_o.jpg);
background-size: cover;
background-position: center;
height: 30%;
margin: 0 3%;
}

.round-icon {
  border-radius: 50%;
  position: relative;
  top: 147px;
  left: 182px;
  background-color: #333;
  height: 60px;
  width: 60px;
  border: 3px solid #fff;
}

/*
aside
*/

.upper-case {
  text-transform: uppercase;
  font-weight: bold;
}

aside {
  display: inline-block;
  color: lightgray;
  float: left;
  font-size: .75rem;
  padding: 3% 9% 9% 18%;
  width: 35%;

}

aside h4 {
  color: gray;
}

aside p {
  padding-bottom: 8px;
  margin-bottom: 31px;
  border-bottom: 1px solid lightgray;
}

aside input {
  margin-top: 16px;
  height: 24px;
}

/*
main
*/
main {
  display: inline-block;
  width: 41%;
  overflow: hidden;
}

main h2 {
  font-size: 2.0rem;
}

main p {

  font-style: italic;
  font-size: 0.75rem;
}

  #picture-container {
  width: 74%;
  height: 29%;
  background-repeat: no-repeat;
  background-image: url(https://farm3.staticflickr.com/2941/15105612447_bc50a673f7.jpg);
}




span.iron-yard {
  font-style: italic;
  color: blue;
}

/*
follow-container
*/

#follow-container {
  width: 200px;
  height: 60px;
  background: lightblue;
  border: 2px dashed darkblue;
  position: relative;
  top: 298px;
  left: -21px;
  float: right;
}
